@import url(animation.css);

/* #####Padding-Default 30px */
/*
.estrutura {
  margin: 0;
  display: grid;

  grid-template-columns: minmax(160px, 1fr) 3fr minmax(200px,300px);
  grid-template-areas:
    'header header header'
    'sidenav conteudo anuncios'
    'footer footer footer'
  ;

}


.header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  grid-area: header;
  padding: 30px;

}


.logo {
  max-width: 200px;
}

& .img--logo {
  width: 100%;
}


[data-nav="nav-bar"] {
  display: flex;
  align-items: center;
}


[data-nav="menu"] {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

}


.list-item+.list-item {
  margin-left: 30px;
}

.link-nav {
  display: block;
  padding: 10px;
  text-decoration: none;
  background-color: var(--dark-light);
  border-radius: var(--rounded-5); var(--rounded-4);
  color: var(--white);
  letter-spacing: var(--letter-space);
  transition: background-color .1s;
  font-size: 1.125em;

  &:hover {
    background-color: var(--roxo-p-1);
  }
}

.sidenav {
  grid-area: sidenav;
}


.anuncios {

  grid-area: anuncios;
  /* display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: max-content; 
}

#### Main content 
.content {
  grid-area: conteudo;

  min-height: 100vh;
}

.header,
.footer {
  background: var(--linearGrdnt);

}




.footer {
  grid-area: footer;
  clear: both;
}



*/





/* Here a want to explain why a give this space and some margin our gutter  */
/* so is because i wanna to make my page more easy to understend and make easy in future de refatoring my code have somme 
padding all might default. values. 30px the name of this value is called --gutter
margin. all might default values is value also is called --gutter in to my variable defined in to root page style.css  */


/* GRID GERAL */

.estrutura {
  display: grid;
  grid-template-columns: var(--grid-3-cols);
  /* Includes minmax 1frst element sidenav */
  grid-template-areas: var(--area-3)
}

.header {
  grid-area: header;
  background: var(--linearGrdnt);
  padding: var(--gutter-30);
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.logo {
  max-width: 200px;
}

.header .btn--menu {
  display: none;
  align-items: center;
  gap: 4px;
  max-width: max-content;
  height: 56px;
  padding: 8px;
  border: 0;
  background: var(--roxo-p-2);
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--white);
  text-transform: capitalize;
  font-family: var(--fontDefault);
  border-radius: var(--rounded-5);
  box-shadow: 0 0 0 4px var(--roxo-p-1), var(--shadown-Xl);
  cursor: pointer;
  z-index: 33;
}

.header .btn--menu span {
  display: block;
  align-self: center;
  flex-direction: column;
  transform: rotate(0) translateY(3px);
  transition: transform .5s;
  height: 3px;
  width: 25px;
  box-shadow: 0 3px var(--white),
    0 -3px var(--white), 0 -9px var(--white);
  /* background: #000; */
  border-radius: var(--rounded-3);
}

/* This part when button has a class open */
 .header .btn--menu.open{
  background: var(--dark-light);
 }
.header .btn--menu.open span {
  transform: rotate(90deg);
  background: transparent;
  height: 3px;
  animation: openMenu .5s linear forwards;
  box-shadow: 0 3px transparent,
    0 -3px transparent, 0 -9px transparent;
    overflow: hidden;
}

@keyframes openMenu {
  from {
    opacity: 0.7;
    transform: rotate(-90deg) scaleY(2) scale(0) translate3d(30px, 0, 10px);

  }

  to {
    opacity: 1;
    height: 6px;
    transform: rotate(0) scaleY(1) scale(1) translate3d(0, 0, 10px);
    background: #fff;
    box-shadow: 0 3px transparent,
      0 -3px transparent, 0 -9px transparent;
  }
}

/* .header .menu:hover span::before,
.header .menu:hover span::after{
   background: transparent;

} */



.header nav ul {
  display: flex;
  flex-wrap: wrap;
}

.header nav a {
  display: block;
  padding: 10px;
  color: #fff;
  font-size: 1.125em;
  background-color: var(--dark-light);
  border-radius: var(--rounded-5);
  transition: var(--transition-Default);
}

.header nav a:hover {
  background-color: var(--dark-light-hover);
}

.header li+li {
  margin-left: var(--gutter-30);
}

/* Side Nav */
.sidenav {
  grid-area: sidenav;
  background-color: var(--white-500);
  padding: var(--gutter-30);
}

.sidenav li a {
  display: block;
  min-width: 60px;
  max-width: 100px;
  margin-inline: auto;
  margin-block-end: 30px;
  background-color: var(--white-light);
  padding: 20px;
  border-radius: var(--rounded-5);
  box-shadow: var(--shadown-Default),
    var(--shadown-Xl);
  transition: var(--transition-ease-out);
}

.sidenav li a:hover {
  background-color: var(--roxo-p-2);
  animation: var(--zoom);

}

/* Content */

.content {
  grid-area: content;
  max-width: 900px;
  margin: 0 auto;
  padding: var(--gutter-30);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--gutter-30);
}

.titulo {
  align-content: center;
  color: var(--roxo-p-2);
}

.titulo h1 {
  font-size: 5.5rem;
  line-height: 1;
  font-weight: 700;
}

.titulo span {
  /* position: absolute;
  transform: translateY(34px); */
  font-size: 1.2rem;
  font-style: italic;
  font-weight: bold;
}

.caracteristicas {
  display: flex;
  align-items: flex-start;
}

.caracteristicas div {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 129px;
  padding: 10px;
}

.numero {
  display: flex;
  border-radius: var(--rounded-5) var(--rounded-5) 15px 0;
  color: var(--dark-secundary);
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0 8px transparent inset;
  width: calc(100% - 4px);
  height: 70%;
  font-size: 2.3rem;
  font-weight: bold;
  margin: 0 auto;
  /* padding: 20px; */
  background: var(--linearGrdnt);
}

.rotulo {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 83%;
  margin: 0 auto;
  background: #fff;
  height: 40%;
  z-index: -1;
  transform: translateY(16px);
  display: flex;
  color: var(--roxo-p-2);
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  /* border-radius: 0 0 var(--rounded-5) var(--rounded-5); */
  border-radius: var(--rounded-5);
  box-shadow: var(--shadown-Xl);
}



.img-01 {
  grid-row: span 2;
  max-height: 100%;
  height: 100%;
  /* object-fit: cover; */
  width: 100%;
  align-self: end;

}

.img-02 {
  align-self: end;
  width: 100%;
}



.text-roxo {
  color: var(--roxo-p-2);
  font-size: 1rem;
}

.citacao {
  position: relative;
  background: var(--linearGrdnt);
  padding: var(--gutter-30);
  border-radius: var(--rounded-5);
  color: var(--white-light);
  font-size: 1.3rem;

}



.informacoes p+p {
  margin-top: var(--gutter-30);
}

.atributos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
  background: var(--linearGrdnt);
  padding: var(--gutter-30);
  border-radius: var(--rounded-5);

}

.atributos li {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 1.23em;
  padding-left: 24px;
  border-bottom: 2px solid #bfb9b9a5;
  height: 100%;
  padding-bottom: 0 !important;
  margin-bottom: 0;
}


/* Anuncios */
.anuncios {
  align-content: flex-start;
  grid-area: anuncios;
  padding: var(--gutter-30);
  display: grid;
  gap: var(--gutter-30);
  background: var(--white-500);

}

.anuncios img {
  border-top-right-radius: calc(var(--rounded-5) + .5px);
  border-top-left-radius: calc(var(--rounded-5) + .5px);
  box-shadow: var(--shadown-Default), var(--shadown-Xl);
}

/* Footer */
.footer {
  grid-area: footer;
  background: var(--linearGrdnt);
}

.footer p {
  color: var(--white);
  padding: var(--gutter-30);
  text-align: center;
}